.wrapper {
    margin-top: 4rem;
}

.fallback {
    font-size: 2.5rem;
    font-weight: 300;
}

.addTask {
    height: 100%;
    padding: 3rem 0;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--color-dark-faded);
    cursor: pointer;
}

.addTask h2 {
    font-weight: 300;
}

.addTask:active {
    transform: translateY(1px);
}