.menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--bg-secondary-faded);
    padding: 2rem;
    padding-top: 10rem;
    min-width: 25rem;
}

.mobileMenu {
    display: none;
}

@media (max-width: 700px) {
    .mobileMenu {
        display: block;
    }

    .menu {
        display: none;
    }
}