.menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--bg-secondary-faded);
    padding: 2rem;
    padding-top: 10rem;
    min-width: 25rem;
}

.mobileMenu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.158);
    z-index: 150;
    align-items: flex-end;
}

.filterHidden {
    display: none !important;
}

.filterWrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 2rem 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (max-width: 700px) {
    .mobileMenu {
        display: flex;
    }

    .menu {
        display: none;
    }
}