@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&display=swap');

:root {
  --bg-primary: #FAF7F0;
  --bg-secondary: #fcdecd;
  --bg-secondary-faded: #fcdecdbf;
  --color-light: #9ae5fa75;
  --color-primary-100: #2048a7;
  --color-primary-200: #BCCEF8;
  --color-secondary-100: #FF8474;
  --color-secondary-200: #FFB085;
  --color-secondary-200-faded: #ffb08557;
  --color-green: #7ab68e;
  --text-primary: #565656;
  --text-light: rgb(165, 165, 165);
  --text-dark: #000;
  --color-dark-faded: rgb(0 0 0 / 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Krub', sans-serif;
  font-weight: 300;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

#root button {
  font-family: inherit;
}

* > img {
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

.w100 {
  width: 100%;
}